input {
    display: block;
    margin-bottom: 20px;
}

button {
    border: none;
    background-color: #fff;
    box-shadow: 2px 2px 2px #ebebeb;

    outline: none;
}

li:not(:last-child) {
    margin-bottom: 10px;
}

li button {
    margin-left: 10px;
}